<!DOCTYPE html>
<head>
    <title>Occi'tour</title>
    <link rel="stylesheet" href="./index.css" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <center>
        <div class = "main-body">
            <div class = "ranking-container">
                <table class = "ranking-table">
                    <thead>
                        <tr>
                            <th class = "movement-column movement-cell"></th>
                            <th class = "rank-column rank-cell"> # </th>
                            <th class = "name-column">Nom</th>
                            <th>Score</th>
                            <th class = "tournois-comptes">Tournois<br>comptés</th>
                        </tr>
                    </thead>

                    <tbody class = "ranking-table-body">
                        <!--TEMPLATE-->
                    </tbody>
                </table>
            </div>
        </div>
    </center>

    <!--JS-->
</body>